<div>
  <div>
    <h1>
      List of all cohorts
    </h1>
  </div>
</div>

<hr>

<div>
  <% if @current_user == nil %>

  <div></div>

  <% else %>
  <div>
    <h2>
      Add a new cohort
    </h2>

    <form action="/insert_cohort" method="post">
      <div>
        <label for="cohort_start_box">
          Cohort start
        </label>

        <input type="date" id="cohort_start_box" name="query_cohort_start">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="cohort_end_box">
          Cohort end
        </label>

        <input type="date" id="cohort_end_box" name="query_cohort_end">
      </div>

      <button>
        Create cohort
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cohort start
        </th>

        <th>
          Name
        </th>

        <th>
          Cohort end
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cohorts.each do |a_cohort| %>
      <tr>
        <td>
          <%= a_cohort.id %>
        </td>

        <td>
          <%= a_cohort.cohort_start %>
        </td>

        <td>
          <%= a_cohort.name %>
        </td>

        <td>
          <%= a_cohort.cohort_end %>
        </td>

        <td>
          <%= time_ago_in_words(a_cohort.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_cohort.updated_at) %> ago
        </td>

        <td>
          <a href="/cohorts/<%= a_cohort.id %>">
            Show details
          </a>
        </td>
        <td>
          <a href="/delete_cohort/<%= a_cohort.id %>">
            delete
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
