
<style>
  .card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
</style>

<div class="container-fluid">
  <div class="py-5 my-5">
    <h1 class="text-center" style="color:rgba(21, 45, 85, 1)"; >WELCOME TO OUR</h1> 
    <h1 class="text-center my-4" style="color: rgba(72, 124, 31, 1)"; > APPRENTICESHIP LOOK BOOK</h1> 
  </div>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded my-5"></div>
    <div clss="container">
    <div class="">
      Select the cohort
    </div>

    <div class="mb-5 w-25">
    <select id="cohort-select" class="form-select" aria-label="Default select example">
      <option value="">Select</option>
      <option value="all">All</option>
      <% @cohorts.each do |cohort| %>
        <option value="<%= cohort.id %>"><%= cohort.name %> - <%= cohort.cohort_start.strftime('%B %d, %Y') %></option>
      <% end %>
    </select>
  </div>

  <div class="m-3">
    <div class="row row-cols-2 row-cols-md-2 g-4">
      <% @list_of_users.each_slice(2) do |users| %>
        <% users.each do |user| %>
          <% if user.cohort && user.cohort.id == params[:cohort_id].to_i %>
            <div class="col">
              <div class="card rounded-4 cohort-<%= user.cohort.id %>" style="color: white; background-color: #152D55;">
                <div class="row g-3 ">
                  <div class="col-sm-5">
                    <img src="https://robohash.org/<%= user.image %>" class="card-img-top m-3 border border-2 border-light rounded-3" alt="...">
                  </div>
                  <div class="col-sm-7">
                    <div class="card-body position-relative h-100">
                      <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
                      <p class="card-text">
                        <% if user.cohort %>
                          <td><%= user.cohort.name %></td>
                        <% else %>
                          <td>No Cohort Assigned</td>
                        <% end %>
                      </p>
                      <a href="/users/<%= user.id %>" class="position-absolute bottom-0 end-0 m-3"><i class="fa-solid fa-arrow-right fa-2xl" style="color: #ffffff;"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

  <script>
  // Get a reference to the select element
  const cohortSelect = document.getElementById('cohort-select');

  // Listen for changes to the select element
  cohortSelect.addEventListener('change', () => {
    // Get the selected option's value
    const selectedValue = cohortSelect.value;
    
    // Set the cohort ID parameter in the URL
    const url = new URL(window.location.href);
    if (selectedValue === "" || selectedValue === "all") {
      url.searchParams.delete('cohort_id');
    } else {
      url.searchParams.set('cohort_id', selectedValue);
    }
    window.location.href = url.toString();
  });
</script>
