<body>
  <h1>List of Users</h1>

<div class="container">
  <div class="row">
    <% @list_of_users.each_slice(2) do |users| %>
      <div class="col-6 col-md-4">
        <% users.each do |user| %>
        <a href="/users/<%= user.id %>">
          <div class="card mb-3">
            <img src="https://robohash.org/<%= user.image %>" class="card-img-top" alt="...">
            <div class="card-body"> 
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
              <p class="card-text"></p>
              <td><%= user.cohort.name %></td>
            </div>
          </div>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<style>
.card {
  background-color: navy;
  color: white; 
}
</style>
