<style>
  .fs-1, fs-6 {
    color: #152D55;
  }

  .background {
    background-image: linear-gradient(93deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  }

  .border-green {
    border-style: solid;
    border-color: #75C156;
  }
</style>

<body>

  <div class="container-fluid">

    <div class="row max-width: 100%">
      <div class="col-lg-4 shadow-md background">
        <div class="left-content">


          <div class="m-5 text-center">
            <img src="https://robohash.org/<%= @the_user.image %>" class="img-fluid rounded-5 border border-1">
          </div>

          <div class="text-center fs-1 fw-bold">
            <%= @the_user.first_name %> <%= @the_user.last_name %>
          </div>


          <div class="fs-6 m-2 text-center fw-lighter fst-italic">
            Software Development and Tech Apprentice
          </div>


                    <div class="text-center fs-5 fw-light m-4">
            Cohort name: <%= @the_user.cohort.name %>
          </div>

          <div>

            <div class="border-green border-2 rounded-4 m-5 p-4 text-center text-italic">
              <em>"<%= @the_user.quote %>"</em>
            </div>
          </div>

          <div>
            <div class="div-fun-fact border-green border-2 rounded-4 m-5 p-4 text-center">
              <p><%= @the_user.fun_fact %></p>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-8 border-light-subtle shadow-lg">
        <div class="right-content">

                  <div class="mt-4">
            <a href="/skills">
              <button type="button" class="btn btn-dark" style="background-color: #122666;">Go back</button>
            </a>
          </div>

          <div class="m-5 border-green border-2 rounded-3 p-5" style="border-color: #75C156;">

            <dl class="row lh-lg gap-2">
              <dt class="col-sm-4 fs-5">Prior skills</dt>
              <% if @the_skill.prior_skills != nil %>
              <dd class="col-sm-8"><%= @the_skill.prior_skills %></dd>
              <% else %>
              <dd class="col-sm-8">Nothing to show</dd>
              <% end %>


              <dt class="col-sm-4 fs-5">Current skills</dt>
              <dd class="col-sm-8"><%= @the_skill.current_skills %></dd>

              <dt class="col-sm-4 fs-5">Field of interest</dt>
              <dd class="col-sm-8"><%= @the_skill.field_of_interest %></dd>

              <dt class="col-sm-4 fs-5">Github</dt>
              <dd class="col-sm-8"><%= @the_skill.github_link %></dd>

              <dt class="col-sm-4 fs-5">Linkedin</dt>
              <dd class="col-sm-8"><%= @the_skill.linkedin_link %></dd>

              <dt class="col-sm-4 fs-5">Portfolio</dt>
              <dd class="col-sm-8"><%= @the_skill.portfolio_link %></dd>

              <dt class="col-sm-4 fs-5">Download resume</dt>
              <dd class="col-sm-8"><%= @the_skill.user.resume_link %></dd>

            </dl>

          </div>
        </div>
      </div>

    </div>
