<div>
  <h5>
    Edit User Account
  </h5>

<div class="container">
  <div class="col-md-4 text-center offset-lg-4">
    <form action="/modify_user" method="post">
      <div class="mb-3">
        <label for="email_box">Email</label>
        <input class="form-control" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div class="mb-3">
        <label for="first_name_box">First name</label>
        <input class="form-control" id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
      <div class="mb-3">
        <label for="last_name_box" class="form-label">Last name</label>
        <input class="form-control" id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>
      <div class="mb-3">
        <label for="image_box" class="form-label">Image</label>
        <input class="form-control" id="image_box" name="query_image" value="<%= @current_user.image %>">
      </div>
      <div class="mb-3">
        <label for="cohort_id_box" class="form-label">Cohort</label>

<select name="query_cohort_id" id="cohort_id_box" class="form-select">
<option value="">Select cohort</option>
            <% @cohorts.each do |cohort| %>
              <option value="<%= cohort.id %>"><%= cohort.name %> - <%= cohort.cohort_start.strftime('%B %d, %Y') %></option>
            <% end %>
          </select>


      </div>

      <div class="mb-3">
        <label for="password_box" class="form-label">Password</label>
        <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div class="mb-3">
        <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
        <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button type="submit" class="btn btn-primary">
        Update account
      </button>
    </form>
  </div>
</div>
