<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </head>

  <body>
  <% if session.fetch(:user_id) == nil %>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
  <img src="image1.jpg"></a> </a>
  <button class="navbar-toggler" 
  type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="navbar-brand" href="/">Lookbook</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">Sign In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cohorts">Cohorts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users">Home</a>
        </li>
      </ul>
  

  <% else %>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="image1.jpg"></a> </a>
  <button class="navbar-toggler" 
  type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
          <a class="navbar-brand" href="/">Lookbook</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="/edit_user_profile"> Edit Profile</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/cohorts">Cohorts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/user_sign_out">Sign Out</a>
          </li>

          <li class="nav-item">
          <a class="nav-link"> <%= session.fetch(:user_id) %>
          </li>

          <% end%>
      </ul>
  

    </nav>
   <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice %>
      </div>
    <% end%>

    <% if alert.present? %>
      <div style="border: thin red solid; color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>



<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-3">
    <p class="col-md-4 mb-0 text-muted">© 2022 Dev Missles</p>

    <a href="https://github.com/dev-missles" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </footer>


  </body>
</html>

<style>
  .navbar-brand {
    padding: 10px;
  }
  .nav-item {
    padding: 0px;
    width: 150px;
    font-size: 20px;
  }
</style>
